* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(to top, #000000, #00007a, #0000ff);
    color: #fff;
    line-height: 1.6;
    min-width: 100vh;
    min-height: 100vh;
}
.minha-photo img {
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 10px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    margin-top: 10px;
    margin-left: 10px;
}
nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: #0000ff;
}
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.social-link {
    cursor: pointer;
    margin: 10px;
    width: 8px;
    transition: transform 0.3s, margin-left 0.3s;}
.social-link:hover {
    transform: scale(1.2);
    margin: 15px;
}